.main {
  display: grid;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  margin-inline: auto;
  padding: 20px;

  input {
    padding: 5px;
  }

  &-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
